<div class="container-fluid">

    <div class="row" id="header-row">
        <div class="header changeToggler col-12" togglerColor="#FEF9EF">
            <h1 class="title hidden" animate_me="fade-up-element">piper & pine</h1>
        </div>
    </div>

    <div class ="row first changeToggler" togglerColor="#AC5511">
        <div class="segment col-12 col-xl-6">
            <h2 class="hidden" animate_me="fade-up-element">
                Web design and branding solutions tailored to fit you <span id="emphasised" class="perfectly">perfectly.</span>
            </h2>
            <h2 id="second-line" class="hidden" animate_me="fade-up-element" animation_delay="2000">So that you can get back to what you do best.</h2>
        </div>
    
        <div id="image-div" class="hidden col-12 col-xl-6 image-div" animate_me="fade-left">
                <img id="pines" src="../../assets/images/pines.png" />
                <img id="pine" src="../../assets/images/pine.png" />
        </div>
    </div>

    <div id="parentRow" class="hidden changeToggler" togglerColor="#FEF9EF" animate_me="fade-down-element">
        <div class="row second" id="second">
            <div class="col hidden" animate_me="fade-in-element" animation_delay="1000">
                <h2>What we can do for you</h2>
            </div>
        </div>
    
        <div class="row third hidden" animate_me="fade-in-element">
            <div class="col hidden" animate_me="fade-right" animation_delay="1000">
                <h3>Completely Customisable Website Design</h3>
                <p>You've got the dream, and we have the means to get you there. When you hire us, you don't get a selection of cookie-cutter templates.</p>
                <p>Instead, you get a design that hugs you in all the right places and gives you room to be you.</p>
            </div>
        </div>
    </div>

    <div class="row fourth changeToggler" togglerColor="#AC5511">
        <h1>Portfolio</h1>
    </div>

    <div class="row fifth changeToggler" togglerColor="#AC5511">
        <div class="col col-xl-4 gif">
            <img src="../../assets/gifs/house_open.gif" />
        </div>
        <div class="col col-xl-4 gif">
            <img src="../../assets/gifs/house_scroll.gif" />
        </div>
    </div>

    <div class="row sixth changeToggler" togglerColor="#AC5511">
        <div class="col col-xl-4 gif">
            <img src="../../assets/gifs/pedal_scroll.gif" />
        </div>
        <div class="col col-xl-4 gif">
            <img src="../../assets/gifs/pedal_open.gif" />
        </div>
    </div>
</div>

