<div class="container-fluid">

    <div class="row" id="header-row">
        <div class="header changeToggler col-12" togglerColor="#FEF9EF">
            <h1 class="title hidden" animate_me="fade-up-element">piper & pine</h1>
        </div>
    </div>

    <div class ="row first">
        <div class="segment changeToggler col-12 col-xl-6" togglerColor="#AC5511">
            <h2 class="hidden" animate_me="fade-up-element">
                Web design and branding solutions tailored to fit you <span id="emphasised" class="hidden" animate_me="fade-right" animation_delay="500">perfectly.</span>
            </h2>
            <h2 class="hidden" animate_me="fade-up-element" animation_delay="2000">So that you can get back to what you do best.</h2>
        </div>
    
        <div id="image-div" class="hidden col-12 col-xl-6" animate_me="fade-left">
                <img id="pines" src="../../assets/images/pines.png" />
                <img id="pine" src="../../assets/images/pine.png" />
        </div>
    </div>

    <div class="row second">
        <div class="col col-xl-6 hidden" animate_me="fade-in-element">
            <h2>About Me</h2>
        </div>
    </div>

</div>

