@keyframes highlight {
    0% {
        background-position: 0%;
    }
    100%{
        background-position: -100%;
    }
}

.container-fluid {
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
    width: 100%;
    z-index: 1;
    font-family: 'Zen Maru Gothic', sans-serif;
    padding: 0;
    margin:0;
}

#header-row {
    padding:0;
    margin:0;
}

.header {
    max-width: 100%;
    width: 100vw;
    height: 30vh;
    background: rgba(3, 20, 3);
    display: flex;
    justify-content: center;
    padding: 0;
    object-fit: cover;
}

h1.title {
    padding: 0;
    display: flex;
    margin: auto;
    color: #FEF9EF;
    font-size: 4rem;
    font-weight: 300;
}

.row.first {
    margin: 0;
    max-width: 100%;
    height: fit-content;
    position: relative;
}

.segment {
    margin: auto;
}

.segment > h2 {
    margin-top: 2vh;
    max-width: 100%;
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-wrap: wrap;
    color: rgba(3, 20, 3);
    padding-left: 10%;
    padding-right: 10%;
}

#emphasised {
    color: #FEF9EF;
    width: 100%;
    margin-top: 4%;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 3%;
    margin-left: -3%;
    background: linear-gradient(to right,transparent 50%, rgb(168, 79, 6) 50%);
    background-size: 200%;
    animation: 2.5s ease-in-out 0.5s 1 highlight;
    animation-fill-mode: forwards;
    width: 110%;
}

.image-div {
    position: relative;
    height: fit-content;
    max-width: 100%;
    width: 100%;
    overflow: visible;
}

#pines {
    height: fit-content;
    transform: scaleX(-1);
    position: relative;
    width:100%;
}

#pine {
    position: absolute;
    width: 50%;
    top: 10%;
    right: -2%;
}

#parentRow {
    background-color: rgba(3, 20, 3);
    color: #FEF9EF;
    margin-bottom: 5%;
}

#second {
    margin-top: 10vh;
}

.row.second, .row.third {
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.row.second > div > h2 {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid rgb(168, 79, 6);;
    padding-bottom: 1%;
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
}

.third > div {
    margin-top: 3vh;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10%;
    margin-left: -40px;
}

.third > div > h3 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 5%;
    font-family: 'Playfair Display', serif;
}

div.row.fourth {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#pinecone {
    width: 60vw;
    margin-top: 5%;
}

.row.fourth > h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    padding-bottom: 1%;
    border-bottom: solid 1px rgb(168, 79, 6);
}

.gif {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.gif > img {
    margin: auto;
    width: 30vw;
    padding: 2%;
}

.row.sixth, .row.fifth {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

@media (max-width: 400px){

    .segment {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 0;
    }

    .segment > h2 {
        font-size: 1.5rem;
    }

    h1.title {
        font-size: 3rem;
    }

    #emphasised {
        margin-left: 0;
    }

    #pines {
        margin-top: -10%;
        width: 100%;
        left: 10%;
        margin-bottom: 20%;
    }

    #pine {
        margin-top: -10%;
        width: 40%;
        top: 30%;
        right: 0%;
        margin-bottom: 20%;
    }

    .gif > img {
        margin: auto;
        width: 60vw;
        padding: 2%;
    }
    
}

@media (max-width: 660px) and (min-width: 401px){
    .segment {
        padding-top: 10%;
        text-align: center;
    }

    .segment > h2 {
        font-size: 2rem;
    }

    #emphasised {
        margin-left: 0;
    }

    h1.title {
        font-size: 3rem;
    }

    #pines {
        margin-top: -15%;
        width: 100%;
        left: 5%;
    }

    #pine {
        margin-top: -15%;
        width: 40%;
        top: 25%;
        right: -5%;
    }

    .gif > img {
        margin: auto;
        width: 60vw;
        padding: 2%;
    }

}

@media (max-width: 900px) and (min-width: 601px){
    .segment {
        margin-top: 5%;
        margin-bottom: 0;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .segment > h2 {
        font-size: 1.8rem;
    }

    #emphasised {
        margin-left: 0;
    }

    #pines {
        margin-top: -10%;
        width: 70%;
        left: 0%;
        bottom: 30%;
    }

    #pine {
        margin-top: -10%;
        width: 30%;
        top: 10%;
        right: 12%;
    }

    .gif > img {
        margin: auto;
        width: 60vw;
        padding: 2%;
    }

}

@media (max-width: 1200px) and (min-width: 901px){
    .segment {
        margin-top: 5%;
        position: relative;
        z-index: 2;
        margin-bottom: 0;
        height: fit-content;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
        font-size: 2.2rem;
    }

    #second-line {
        margin-top: 2%;
    }

    #emphasised {
        margin-left: 0;
    }

    #pines {
        margin-top: -10%;
        width: 70%;
        left: 0%;
    }

    #pine {
        margin-top: -10%;
        width: 30%;
        top: 5%;
        right: 8%;
    }
}


